@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #444;
}

form {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
}

input[type="number"],
select {
  display: block;
  width: 50%;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  display: inline-block;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.buttonContainer {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: #0056b3;
}

#resetButton {
  background-color: #e12235;
}

#resetButton:hover {
  background-color: rgb(173, 0, 0);
}

#courses {
  margin-top: 20px;
}

#courses p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
}
